*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
nav{
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 100;
    color: white;
    display: flex;
    justify-content: center;
}
#navContents{
    height: 100%;
    width: 850px;
    display: flex;
}
#navLeft{
    height: 100%;
    width: 600px;
    display: flex;
    align-items: center;
}
.nav-list{
    display: inline-block;
}
li{
    list-style: none;
    display:inline-block;
    font-size: smaller;
    padding-right: 10px;
    padding-inline-end: 25px;
    background-color: black;
}
#profNav{
    font-weight: bolder;
    font-size: x-large;
}
#myPNav{
    font-weight: bolder;
}
#navRight{
    height: 100%;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: end;
}
#signOut{
    padding: 3px 10px;
    background-color: #17a2b8;    
    color: white;
    text-align: end;
}
#container{
    width: 850px;
    height: 700px;
    margin: 80px auto 0 auto; 
    display: flex;
}
#leftSide{
    height: 700px;
    width: 65%;
    justify-content: space-evenly;
}
#card{
    width: 500px;
    height: 275px;
    position: relative;
}
#topDiv{
    background-color: #17a2b8;
    border: 2px solid #17a2b8;
    height: 80px;
    width: 100%;
}
#userPhoto{
    position: absolute;
    top: 20px;
    left: 30px;
}
#userPhoto > img {
    width:80px;
}
#bottomDiv{
    padding: 10px;
    padding-top: 50px;
    width: 95.5%;
    height: 125px;
    display: inline-block;
    margin-top: 0px;
    border: 3px solid rgb(162, 162, 162);
}
#name{
    padding: 0px 0px 0px 20px;
}
#location{
    padding: 10px 0px 10px 20px;
    height: 10px;
    display: flex;
    align-items: center;
}
#location > img {
    width:10px;
}
#city{
    padding:10px;
    font-size:medium;
}
#bio{
    padding:2px 0px 0px 20px;
    font-weight: bold;
    font-size: small;
}
#settings{
    padding: 10px 0px 0px 20px;
    height: 10px;
    display: flex;
    align-items: center;
}
#settings > img {
    width:15px;
}
#profile{
    padding:10px;
    font-size:medium;
    text-decoration: underline;
    color: #2b78e4;
}
#education{
    width: 500px;
    height: 350px;
    margin-top: 20px;
}
.head{
    padding-left: 10px;
    background-color: rgb(45, 45, 45);
    border: 3px solid rgb(45, 45, 45);
    height: 50px;
    color: white;
    display:flex;
    align-items: center;
}
.head > img{
    width:30px;
}
h1{
    justify-content: center;
}
#edBody{
    border: 3px solid rgb(162, 162, 162);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.edName{
    font-size: x-large;
    margin: 5px;
    font-weight: bolder;
}
.edDates{
    color: grey;
    margin: 5px;
}
.edInfo{
    margin: 5px;
    font-weight: bold;
}
h2{
    margin-left: 20px;
}
#rightSide{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#connectReq{
    height: 250px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
#requestBox{
    height: 200px;
    border: 3px solid rgb(162, 162, 162);
}
.requestLine{
    height: 33.3%;
    display: flex;
    align-items: center;
}
.req{
    width: 160px;
    height: 33.3%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.image{
    width: 50px;
    height: 95%;
    object-fit: cover;
}
.yesNo{
    width: 30px;
    height: 30px;
    object-fit: cover;
    padding:2px;
}
#yourConnect{
    height: 400px;
    font-weight: bold;
}
#yourConBox{
    height: 250px;
    border: 3px solid rgb(162, 162, 162);
}
#moreCon{
    height: 50px;
    border: 3px solid rgb(162, 162, 162);   
    border-top: 0px; 
    display: flex;
    align-items: center;
    text-decoration: underline;
    color:#2b78e4;
    padding: 0px 15px;
}
.connects{
    height: 25%;
    display: flex;
    align-items: center;
}
.connectLine{
    height: 25%;
    display: flex;
    align-items: center;
}
